@import url(./tokens.css);

.header {
  padding: var(--spacing-large) var(--spacing-extra-large);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-small);
}

.logo {
  font-size: var(--font-size-title-small);
  font-weight: 700;
  font-style: italic;
  line-height: var(--line-height-title-normal);
}

.dot::after {
  content: ".";
  color: var(--color-text);
}

.header .login {
  display: none;
}

.header .links-wrapper {
  display: flex;
  column-gap: var(--spacing-medium);
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-extra-large);
  padding: 0 var(--spacing-medium);
}

.hero .banner {
  display: flex;
  justify-content: center;
}

.hero .banner > img {
  height: 200px;
}

.hero .holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .holder .title {
  font-size: var(--font-size-title-small);
  line-height: var(--line-height-title-small);
}

.hero .holder .request-button {
  margin-top: var(--spacing-medium);
}

.section-services {
  margin-top: 156px;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-medium);
}

.section-services .list-banner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: var(--spacing-medium);
}

.section-services .list-banner > img {
  height: 180px;
}

.section-services .list-banner .list {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-small);
}

.section-services .list-banner .list > div {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-small);
}

.section-services .calling {
  display: grid;
  grid-template-columns: [first] auto [mid-left] 220px [mid-right] auto [end];
  justify-items: center;
  row-gap: var(--spacing-base);
}

.section-services .calling > p {
  grid-column-start: 1;
  grid-column-end: end;
}

.section-services .calling > input {
  width: 100%;
  grid-column-start: mid-left;
  grid-column-end: mid-right;
}

.section-services .calling > button {
  width: 100%;
  grid-column-start: mid-left;
  grid-column-end: mid-right;
}
