@import url(./tokens.css);

.header {
  padding: var(--spacing-lg) var(--spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing-sm);
}

.logo {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xxl);
  font-weight: 700;
  font-style: italic;
}

.dot::after {
  content: ".";
  color: var(--color-text);
}

.header .login {
  display: none;
}

.header .links-wrapper {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-md);
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xl);
  padding: 0 var(--spacing-md);
}

.hero .banner {
  display: flex;
  justify-content: center;
}

.hero .banner > img {
  height: 200px;
}

.hero .holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .holder .title {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-xl);
}

.hero .holder .request-button {
  margin-top: var(--spacing-md);
}

.section-services {
  margin-top: 156px;
  padding: 0 var(--spacing-sm);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-md);
}

.section-services .list-banner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: var(--spacing-md);
}

.section-services .list-banner > img {
  height: 180px;
}

.section-services .list-banner .list {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-sm);
}

.section-services .list-banner .list > div {
  display: flex;
  align-items: center;
  column-gap: var(--spacing-sm);
}

.section-services .calling {
  display: grid;
  grid-template-columns: auto 220px auto;
  grid-template-areas:
    "highlight highlight highlight"
    ". phone ."
    ". submit .";
  justify-items: center;
  row-gap: var(--spacing-base);
}

.section-services .calling > p {
  grid-area: highlight;
}

.section-services .calling > input {
  width: 100%;
  grid-area: phone;
}

.section-services .calling > button {
  width: 100%;
  grid-area: submit;
}

.section-cases {
  margin-top: var(--spacing-xl);
  padding: var(--spacing-md) var(--spacing-sm);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-md);
}

.section-cases .case-card {
  background-color: var(--color-grey-300);
  padding: var(--spacing-md);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-areas:
    "avatar message"
    ". footer";
  column-gap: var(--spacing-sm);
  row-gap: var(--spacing-base);
}

.section-cases .case-card .avatar {
  grid-area: avatar;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.section-cases .case-card .message {
  grid-area: message;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
}

.section-cases .case-card .card-footer {
  grid-area: footer;
}

.section-cases .case-card .card-footer .person {
  font-size: var(--font-size-md);
  font-weight: 500;
}

.section-cases .case-card .card-footer .company {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  font-weight: 700;
}

.footer {
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--color-grey-900);
  color: white;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logo"
    "about"
    "contact"
    "social";
  row-gap: var(--spacing-sm);
}

.footer > div {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-base);
}

.footer h4 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.footer .logo-message {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .about {
  grid-area: about;
}

.footer .contact {
  grid-area: contact;
}

.footer .social-medias {
  grid-area: social;
}

.footer .social-medias .icons {
  display: flex;
  column-gap: var(--spacing-lg);
}

.footer .social-medias > img {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    font-size: var(--font-size-xxxl);
  }

  .header .login {
    display: block;
    padding: 0 var(--spacing-xl);
  }

  .hero {
    height: calc(100vh - 256px);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-lg) var(--spacing-md);
  }

  .hero .banner > img {
    height: 320px;
  }

  .hero .holder {
    align-items: flex-start;
  }

  .hero .holder .title {
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-xxl);
  }

  .section-services {
    margin-top: var(--spacing-xl);
    padding: var(--spacing-lg) var(--spacing-md);
    align-items: flex-start;
  }

  .section-services .list-banner {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
  }

  .section-services .list-banner > img {
    height: 380px;
  }

  .section-services .calling {
    grid-template-columns: 240px 240px;
    grid-template-areas:
      "highlight highlight"
      "phone submit";
    justify-items: start;
    gap: var(--spacing-sm);
  }

  .section-cases {
    margin-top: var(--spacing-xxxl);
    flex-direction: row;
    column-gap: var(--spacing-lg);
  }

  .section-cases .case-card {
    flex: 1;
    padding: var(--spacing-sm) var(--spacing-lg);
    grid-template-columns: 64px auto;
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-sm);
  }

  .section-cases .case-card .avatar {
    width: 64px;
    height: 64px;
  }

  .section-cases .case-card .message {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-md);
  }

  .section-cases .case-card .card-footer .person {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
  }

  .section-cases .case-card .card-footer .company {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  .footer {
    padding: var(--spacing-xxxl) var(--spacing-lg);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo about contact social";
    justify-items: center;
  }

  .footer > div {
    row-gap: var(--spacing-sm);
  }

  .footer h4 {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
  }

  .footer .logo-message {
    align-items: flex-start;
  }
}
