:root {
  --color-primary: #d6000d;
  --color-text: #212121;
  --color-grey-300: #e0e0e0;
  --color-grey-900: #212121;

  --spacing-base: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 40px;
  --spacing-xxxl: 64px;

  --font-size-xs: 12px;
  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 56px;

  --line-height-sm: 18px;
  --line-height-md: 24px;
  --line-height-lg: 32px;
  --line-height-xl: 40px;
  --line-height-xxl: 64px;
}
